<form name="form_uploadImage" enctype= "multipart/form-data" method="post">
    <br>
    <label id="label_file">File:</label><br />
    <input type="file" required accept='image/*' name="field_photo">
    <input type="submit" value="Submit">
    </fieldset>
</form>