<form name="form_login" method="post">
    <br>
    <label id="label_username">Username</label><br />
    <input type="text" name="field_username" /><br />
    <label id="label_password" name = "label_password">Password</label><br />
    <input type="password" name="field_password" /><br />
    <label id="label_loginNotification"> {{loginNotification}} </label><br />
    <input type="submit" value="Login" />
    </fieldset>
</form>