<form name="form_register" method="post">
    <br>
    <label id="label_userId">User ID</label><br />
    <input type="text" name="field_userId" /><br />
    <label id="label_password" name= "label_password">Password</label><br />
    <input type="password" name="field_password" /><br />
    <label id="label_password" name= "label_verifyPassword">Verify Password</label><br />
    <input type="password" name="field_verifyPassword" /><br />
    <label id="label_email" name="label_email">E-Mail</label><br />
    <input type="text" name="field_email" /><br />
    <input type="submit" value="Login" />
    </fieldset>
</form>